<div class="row">
      <div class="col-md-8">


        <div style="padding-left: 20px; padding-top: 20px;">
          <article>
            <div class="post-content">
              <h1><%=@article.title%></h1>
              <p><%=@article.content%></p>
            </div>
          </article>
        </div>

      </div>

      <div class="col-md-4">

      </div>

    </div>
</div>