<div style="padding-left: 20px; padding-top: 20px;">
  <% @articles.each do |article| %>
    <article>
      <div class="post-content">
        <h1><%=article.title%></h1>
        <p><%=article.excerpt%></p>
        <p align="right"><a href="/articles/<%=article.slug%>">View More</a></p>
      </div>
    </article>
  <%end%>
</div>
