<div class="row">
  <div class="col-md-12">
    <div class="row">

      <div class="col-md-8">
        <%= render partial: "landing/article_list" %>
      </div>

      <div class="col-md-4">

      </div>

    </div>
  </div>
</div>