<div class="row">
  <div class="col-md-5">
    <div class="photo-block">

      <!--Parallax-->
      <ul class="element-scroll-parallax hidden-sm hidden-xs">
        <li data-parallax="{&quot;rotateZ&quot;: 600, &quot;smoothness&quot;: 200}" style="transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(598.876deg) scaleX(1) scaleY(1) scaleZ(1); -webkit-transform:translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(598.876deg) scaleX(1) scaleY(1) scaleZ(1); "><img src="media/designer/about-spots.png" alt=""></li>
      </ul><!--Parallax end-->

      <div class="photo">
        <img src="images/gradient-circle.png" alt="" class="photo-frame">
        <img src="images/my-photo.jpg" alt="It's Me" class="my-photo img-circle">
      </div>
      <ul class="social-link list-inline">
        <li><a href="#"><img src="media/designer/social/facebook.png" alt=""></a></li>
        <li><a href="#"><img src="media/designer/social/twitter.png" alt=""></a></li>
        <li><a href="#"><img src="media/designer/social/insta.png" alt=""></a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-7">
    <div class="text-me">
      <div class="headline">
        <h2>About <span class="yellow">Me</span></h2>
      </div>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
      <ul class="list-inline actions">
        <li><button class="btn btn-primary">Hire Me</button></li>
        <li><button class="btn btn-secondary">Folio</button></li>
      </ul>
    </div>
  </div>
</div>